<ion-header>

  <ion-navbar>
    <ion-title>Forgot-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="forgotPasswordForm">
      <div style="margin: 0px 40px;">
          <button ion-button (click)="showEmail()">Send me Email</button>
          <button ion-button (click)="showMobile()">Send me SMS</button>          
      </div>
      <br><br>
      <div style="border: 1px solid #488aff !important; width: 100% !important; margin: 0px 10px !important;" *ngIf="showEmailtext">
        <user-email [parentForm]="forgotPasswordForm" formControlNameValue="userEmail" (isExist)="checkuserExist($event)"></user-email>
      </div>

      <ion-item *ngIf="showMobiletext" style="border: 1px solid #488aff;">
        <ion-label>Your mobile number:</ion-label>
        <ion-input type = "tel" formControlName="userMobile" (ionBlur)="checkMobile($event)" placeholder="+91"></ion-input>
      </ion-item>
      <p *ngIf="phoneError && showMobiletext" class="error-msg">Please enter valid phone number with country code.</p>
  </form>
  <br>
  <div style="margin: 0px 150px;">
    <button ion-button (click)="submitForm()" [disabled]="showEmailtext ? !forgotPasswordForm.controls['userEmail'].valid : !phoneValid">Send</button>
  </div>
</ion-content>
