page-home {
  ion-item{
    border:none !important;
  }
  .genderBox{
    border: none !important;
  }
  ion-list{
    border:none !important;
  }

}
div.item-inner{
  border: none !important;
  margin:0px !important
}
